.bg-pp-green{
  background-image: linear-gradient(-45deg, #33cc33, #00ccff);
}

.bg-white{
  background-color: white;
}

.navborder{
  border-color: green;
  border-bottom-style: solid;
  border-width: 7px
}

*{
  font-family: Roboto;
}

.roboto{
}

.nav-link{
  font-weight: bold;
  font-size: 20px;
  color: #009900;
  transition: transform 500ms ease;
  margin-left: 30px;
  border-style: solid;
  border-radius: 10%;
  border-width: 2px;
}



.nav-link:hover{
  transform:scale(1.25);
  color: #009900;
}

.navbar-fixed-top {
    height: 100px; /* Whatever you want. */
}

#logo{
  transform: scale(0.15);
}

#name{
  color: orange !important;
  border-width: 0px !important;
  font-size: 30px !important;
  font-style: italic;
}

.navpad{
  padding: 50px, 50px, 50px, 50px;
}

.inline1{
  display: inline-block;
}

.fright{
  float:right;
}

.fleft{
  float:left;
}

.brennan-resize{
  transform: scale(0.75);
  margin-left: 10px;
}
