.brennan{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#location{
	text-align: center;
}
#weather{
	text-align: center;
}
#datetime{
	text-align: center;
}
#humidity{
	text-align: center;
}
#rating{
	position: fixed;
	right: 25%;
	bottom: 30%;
}
#outside{
	text-align: center;
	font-family: Roboto; 
}
#inside{
	text-align: center;
	font-family: Roboto; 
}
