.brennan{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#location{
	padding-top:50px;
	text-align: center;
}
#weather{
	text-align: center;
}
#datetime{
	text-align: center;
}
#humidity{
	text-align: center;
}
#rating{
	padding-top: 80px !important;
	text-align: center;
	right: 25%;
	bottom: 30%;
}
#outside{
	text-align: center;
	font-family: Roboto;
}
#inside{
	text-align: center;
	font-family: Roboto;
}

.arrange{
	padding-top:20px;
	padding-left: 500px;

}

.graph_arrange{
	padding-top:30px;
}

.gray {color:#4d4d4d; }
.pie_arrange{
	position:absolute;
	transform: scale(1.25);
	right:607px;
	bottom:70px;
}
